<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NodeJS TODOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>NODE TODOS</h1>
    
    <form action="/" method="POST" role="form">
        <legend>Form title</legend>
    
        <div class="form-group">
            <label for="">Name: </label>
            <input type="text" class="form-control" id="" placeholder="Input field" name="name">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <% if (param) { %>
        <h1><%=param.name%></h1>
      <% } else { %>
        <h1>Your name: NULL</h1>
     <% } %>
    
</body>
</html>